<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lista de Materias</title>
  <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <%- include("partials/header") -%>

    <div class="row">
      <%- include("partials/menu") -%>

      <div class="col-10">
        <h2 class="mt-4">Materias Creadas</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Créditos</th>
              <th>Descripción</th>
              <th>Área</th>
            </tr>
          </thead>
          <tbody>
            <% materias.forEach(materia => { %>
              <tr>
                <td><%= materia.nombre %></td>
                <td><%= materia.creditos %></td>
                <td><%= materia.descripcion %></td>
                <td><%= materia.area.nombre %></td> <!-- Asumiendo que `materia.area` contiene el nombre del área -->
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>

    <%- include("partials/footer") -%>
  </div>
</body>
</html>
